<h1>You have booked your ticket. Flight details:</h1>

---------------------------------------------------------

Booking Number:
<%= @booking.id %>

Flight Number:
<%= @flight.id %>

Date:
<%= @flight.start.to_date %>

Departure:
<%= "#{@flight.departure_airport.name} (#{@flight.departure_airport.code}): #{@flight.start.strftime("%I:%M %p")}" %>

Arrival:
<%= "#{@flight.arrival_airport.name} (#{@flight.arrival_airport.code}): #{(@flight.start + @flight.duration.minutes).strftime("%I:%M %p")}" %>

Passengers:
<% @passengers.each do |passenger| %>
<%= passenger.name %> (<%= passenger.email %>)
<% end %>

<%= @url %>